@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", sans-serif;
    color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.container{
    background-color: #17252a;
    display: flex;
    width: 600px;
    height: 570px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    padding: 0 20px;
    backdrop-filter: blur(10px);
}

.container h1{
   color: #b8e3e9; 
   transform: translateY(-50%);
}

.home-header{
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1em;
    margin: 10px 50px;
    display: none;
}

.home-header h1{
    color: #b8e3e9;
}

.clear{
    position: absolute;
    top: 7%;
    left: 5%;
    cursor: pointer;
}

#menu{
    position: absolute;
    top: 7.5%;
    right: 4%;
    z-index: 40;
    cursor: pointer;
}

.inner-container{
    display: flex;
    align-items: center;
}

.box{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 330px;
    border-radius: 10px;
    font-size: 30px;
    gap: 20px;
    padding: 20px 0;
}

.box h3{
    margin: 0;
}

.box select{
    text-align: center;
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 60px;
    width: 120px;
    font-size: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.box select option{
    background: rgb(41, 53, 55);
    color: white;
    font-size: 12px;
    /* text-align: left; */
}

.left{
    background-color: rgb(77, 77, 77, 0.7);
    backdrop-filter: blur(10px);
    padding: 3px;
    margin-right: 50px;
}

.left select{
    background-color: rgb(77, 77, 77, 0.7);
    color:#ffffff;;
}

.left input{
    padding: 10px 0;
    font-size: 27px;
    width: 110px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    background-color: rgb(184, 227, 233, 0.3);
    backdrop-filter: blur(10px);
    color: #98dce5;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.tra{
    position: absolute;
    align-self: center;
    justify-self: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
        /* transition: transform 0.3s ease; */
}


.right{
    background-color: rgb(152, 220, 229, 0.8);
    backdrop-filter: blur(10px);
    padding: 3px;
    margin-left: 10px;
}

.right select{
    background-color: rgb(152, 220, 229, 0.6);
    color: #000000;
}

.right p{
    font-size: 27px;
    padding: 7px 7px;
    min-width: 110px;
    max-width: 90%;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin: 0;
    background-color: rgba(28, 47, 50, 0.3);
    backdrop-filter: blur(10px);
    color: #4d4d4d;
    overflow: hidden;
}

.dropDown{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke;
    height: 100%;
    position: absolute;
    /* margin-right: 25px;
    margin-top: 25px; */
    background: #b8e3e9;
    opacity: 0;
    backdrop-filter: blur(10px);
    display: none;
    transition: display 0.4s;
}

.inner-drop{
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 70%;
    transform: translateY(65%);
}

.inner-drop button{
    /* align-self: center;
    justify-self: center; */
    /* transform: translateY(-180%); */
    line-height: 2;
    border: none;
    outline: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
}

.inner-drop button:hover{
    font-weight: 600;
}

.divider{
    width: 90%;
    height: 0px;
    border: 2px solid black;
    align-self: center;
    justify-self: center;
    transform: translateY(-180%);
}

#calc{
    border: none;
    border-radius: 10px;
    padding: 15px 33px;
    margin-top: 30px;
    background: #49c6dd;
    font-size: 20px;
    cursor: pointer;
    border: 1.5px solid ;
}

#calc:hover{
    scale: 1.01;
    /* border: 1.5px solid #020a0c; */
    transition: 0.2s;
}

#calc:active{
    background-color: #3798a9;
}

.left input:focus{
    scale: 1.1;
    transition: 0.2s;
}

.box select:focus{
    width: 70%;
    transition: 0.1s;
}

.clear:hover{
    scale: 1.1;
    transition: 0.5s;
}

#menu:hover{
    scale: 1.1;
    transition: 0.5s;
}

.active{
    display: block;
    opacity: 0.951;
    transition: 0.5s;
}

.rot{
    transform: rotate(-180deg);
    transition: 0.3s;
}

@media (max-width: 700px){
    .container h1{
        position: absolute;
        top: 6%;
    }

    .inner-container{
        display: block;
        width: 100%;
        margin-top: 2%;
        /* transform: translateY(-30%); */
    }

    .box{
        display: flex;
        align-self: center;
        flex-direction: row;
        align-items: center;
        width: 70%;
        height: 100px;
        /* background-color: yellow; */
        margin: 15px 15px;
    }

    .box select{
        margin: 0;
        width: 20%;
        font-size: 34px;
    }

    .box select:active{
        scale: 1;
    }

    .left{
        float: left;
    }

    .right{
        float: right;
        backdrop-filter: none;
    }

    .traf{
        position: absolute;
        top: 32.49%;
        left: 40%;
        scale: 1.1;
        transform: rotate(-90deg);
        /* z-index: 1; */
    }
}

@media (max-width: 640px){
    .box select{
        margin: 0;
        width: 20%;
        font-size: 22.5px;
    }
}
